dbs/mai/all-without-cpv/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/stopped/plz-first-bis-sprache.json filter=lfs diff=lfs merge=lfs -text
dbs/tune.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/alles/fail-auto-with-variant.json filter=lfs diff=lfs merge=lfs -text
dbs/gatt_wto/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/plz/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/each-attributes-alone/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/prod.json filter=lfs diff=lfs merge=lfs -text
dbs/alles.json filter=lfs diff=lfs merge=lfs -text
dbs/april/each-attributes-alone/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/temp.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/auftragsart_art/auto-with-variant2.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/plz/auto-backup.json filter=lfs diff=lfs merge=lfs -text
dbs/final/final-cpv-third/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/all-without-lose/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/april/all/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/alles/another-fail-without-variant.json filter=lfs diff=lfs merge=lfs -text
dbs/auftragsart_art/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/all/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/stopped/auftrags-art-bis-sprache.json filter=lfs diff=lfs merge=lfs -text
dbs/april/all-without-cpv/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/alles/first-try-that-failed.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/auftragsart_art/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/plz/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/auto-from-server.json filter=lfs diff=lfs merge=lfs -text
dbs/final/all/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/final/cpv-fourth/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/final/final/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/add-cpv-third/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/all-with-auftragsart/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/auftragsart_art/auto-backup.json filter=lfs diff=lfs merge=lfs -text
dbs/archive/plz/auto-with-variant3.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/important3+1/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/mai/new-plz-all/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/sql-query-fix.json filter=lfs diff=lfs merge=lfs -text
dbs/final/cpv-third/auto.json filter=lfs diff=lfs merge=lfs -text
dbs/final/important3+1/auto.json filter=lfs diff=lfs merge=lfs -text
